.header-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.header-left-items {
    display: flex;
    flex-direction: row;
    gap: 0px 20px;
}

.avatar{
    padding-top: 0px;
    cursor: pointer;
}

.menu {
    flex-grow: 1;
}

.icon {
    padding-bottom: 5px;
}