@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import '~antd/dist/antd.css';

body {
    font-family: 'Outfit', sans-serif;
}

.beer-layout {
    min-height: 100vh;
}

.beer-max-width {
    max-width: 1280px;
}

.ant-form-item-control {
    max-width: 100%;
}